<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mindder.alarms.model.mapper.AlarmsMapper">
	<!-- fcm 토큰 등록 -->
	<update id="updateToken" parameterType="TokenUpdateDto">
		update mainuser set device_token = #{deviceToken} where user_idx = #{userIdx};
	</update>
	<!-- 알림을 보낸 / 받을 유저 정보 조회 -->
	<select id="selectPushInfo" parameterType="int" resultMap="com.ssafy.resultmaps.alarmsUser">
		select (select nickname from mainuser where user_idx = #{senderUserIdx}) as sender_nickname, 
				nickname as receiver_nickname, device_token
		from mainuser
		where user_idx = #{receiverUserIdx};
	</select>
	<!-- 알림에 등록할 유저 프로필 이미지 조회 -->
	<select id="selectUserFileIdx" parameterType="int" resultType="int">
		select file_idx from mainuser where user_idx = #{userIdx}; 
	</select>
	<!-- 팔로우 알림 등록 -->
	<insert id="insertFollowAlarm" parameterType="int">
		insert into mainalarm(alarm_type, send_user_idx, receive_user_idx) values(1, #{userIdx} ,#{targetUserIdx});
	</insert>
	<!-- 알림 목록 조회 -->
	<select id="selectAlarms" parameterType="int" resultMap="com.ssafy.resultmaps.alarmList">
		select a.alarm_idx, a.alarm_type, a.send_user_idx, a.feed_idx, u.file_idx, a.like_type, a.update_date, u.nickname, a.is_read, f.file_idx as feed_file_idx
		from mainalarm a
		join mainuser u
		on a.send_user_idx = u.user_idx
        left join (select feed_idx, file_idx from mainfeed where user_idx = #{userIdx}) as f
        on a.feed_idx = f.feed_idx
		where a.receive_user_idx = #{userIdx}
		and a.send_user_idx != a.receive_user_idx
		order by alarm_idx desc;
	</select>
	<!-- 알림 읽음 처리 -->
	<update id="updateAlarm" parameterType="int">
		update mainalarm set is_read = 1 where alarm_idx = #{alarmIdx};
	</update>
	<!-- 알림 조회 -->
	<select id="selectAlarm" parameterType="int" resultType="String">
		select alarm_idx from mainalarm where alarm_idx = #{alarmIdx};
	</select>
	<!-- 알림에 등록할 피드 작성자 idx 조회 -->
	<select id="selectUserIdx" parameterType="int" resultType="int">
		select user_idx from mainfeed where feed_idx = #{feedIdx}; 
	</select>
	<!-- 댓글 알림 등록 -->
	<insert id="insertCommentAlarm" parameterType="int">
		insert into mainalarm(alarm_type, send_user_idx, receive_user_idx, feed_idx) 
		values(2, #{userIdx} ,#{targetUserIdx}, #{feedIdx});
	</insert>
	<!-- 알림 등록 전 중복 검사 -->
	<select id="selectAlarmDuplication" parameterType="int" resultType="int">
		select alarm_idx 
		from mainalarm 
		where alarm_type = #{alarmType} and send_user_idx = #{userIdx} and receive_user_idx = #{targetUserIdx};
	</select>
	<!-- 알림 삭제 -->
	<delete id="deleteAlarm" parameterType="int">
		delete from mainalarm where alarm_idx = #{alarmIdx};
	</delete>
	<!-- 공감 알림 등록 -->
	<insert id="insertLikeAlarm" parameterType="int">
		insert into mainalarm(alarm_type, send_user_idx, receive_user_idx, feed_idx, like_type) 
		values(3, #{userIdx} ,#{targetUserIdx}, #{feedIdx}, #{likeType});
	</insert>
	<!-- 알림 전체 삭제 -->
	<delete id="deleteAllAlarm" parameterType="int">
		delete from mainalarm where receive_user_idx = #{userIdx};
	</delete>
	<!-- 푸시 알림 수신 여부 조회 -->
	<select id="selectUserPushAlarmAgree" parameterType="int" resultType="int">
		select push_alarm_agree from mainuser where user_idx = #{userIdx};
	</select>
	<!-- 피드 삭제 시 알림 삭제를 위한 alarmIdx 리스트 조회 -->
	<select id="selectAlarmIdxList" parameterType="int" resultType="int">
		select alarm_idx from mainalarm where receive_user_idx = #{userIdx} and feed_idx = #{feedIdx};
	</select>
	<!-- 팔로우 취소 시 알림 삭제를 위한 alarmIdx 리스트 조회 -->
	<select id="selectAlarmIdxList2" parameterType="int" resultType="int">
		select alarm_idx from mainalarm 
		where alarm_type = #{alarmType} 
		and send_user_idx = #{sendUserIdx} and receive_user_idx = #{receiveUserIdx};
	</select>
</mapper>
