<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mindder.comments.model.mapper.CommentsMapper">
	<!--댓글 입력 -->
	<insert id="writeComment" parameterType="CommentsDto">
		insert into feedcomment
		(text,update_date,is_deleted, feed_idx, user_idx)
		values(#{feedComment},curdate(),0, #{feedIdx}, #{userIdx})		
	</insert>
	<!--댓글 삭제 -->
	<update id="deleteComment" parameterType="int">
	update  feedcomment 
	set is_deleted = 1
	where comment_idx = #{commentIdx};
	</update>
	
	<!--댓글 리스트 조회 -->
	<select id="commentList" parameterType="int" resultMap="com.ssafy.resultmaps.comment">
	select c.comment_idx, u.nickname, c.text, c.update_date,u.user_idx
	from mainuser u join feedcomment c on u.user_idx=c.user_idx
	where c.is_deleted !=1 and 	c.feed_idx= #{feedIdx};
	</select>
</mapper>