<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mindder.my.model.mapper.MyMapper">
	<!-- 공감 등록 -->
	<insert id="insertLike" parameterType="LikesDto">
		insert into feedlike(feed_idx, user_idx, like_type) values(#{feedIdx}, #{userIdx}, #{likeType});	
	</insert>
	<!-- 공감 수정 -->
	<update id="updateLike" parameterType="LikesDto">
		update feedlike set like_type = #{likeType} where user_idx = #{userIdx} and feed_idx = #{feedIdx};
	</update>
	<!-- 공감 취소 -->
	<delete id="deleteLike" parameterType="int">
		delete from feedlike where user_idx = #{userIdx} and feed_idx = #{feedIdx};	
	</delete>
</mapper>
