<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mindder.my.model.mapper.MyMapper">
	<!-- 회원 정보 조회 -->
	<select id="selectUser" parameterType="int" resultMap="com.ssafy.resultmaps.userInformation">
		select user_idx, email, nickname, file_idx, emote_color_idx, social_id, 
				(select count(*) from userfollow where user_idx = #{userIdx}) as following_count,
				(select count(*) from userfollow where target_user_idx = #{userIdx}) as follower_count
		from mainuser
		where user_idx = #{userIdx} and is_deleted = 0;
	</select>
	<sql id="selectFeeds">
		select f.feed_idx, f.file_idx, f.user_idx, u.nickname, f.update_date,
		ifnull((select count(*) from feedcomment where f.feed_idx = feed_idx and is_deleted = 0), 0) as comment_count,
		ifnull((select count(*) from feedlike where f.feed_idx = feed_idx), 0) as like_total_count
		from mainfeed f 
		join mainuser u 
		on f.user_idx = u.user_idx
	</sql>
	<!-- 내가 쓴 피드 목록 조회 -->
	<select id="selectMyFeeds" parameterType="int" resultMap="com.ssafy.resultmaps.feedList">
		<include refid="selectFeeds"></include>
		where f.user_idx = #{userIdx} and f.is_deleted = 0;
	</select>
	<!-- 타인이 쓴 피드 목록 조회 -->
	<select id="selectOthersFeeds" parameterType="int" resultMap="com.ssafy.resultmaps.feedList">
		<include refid="selectFeeds"></include>
		where f.user_idx = #{userIdx} and f.is_deleted = 0 and f.is_public = 1;
	</select>
	<!-- 팔로워 목록 조회 -->
	<select id="selectMyFollowers" parameterType="int" resultMap="com.ssafy.resultmaps.follow">
		select f.follow_idx, f.target_user_idx, f.user_idx, u.nickname, u.file_idx
		from userfollow f 
		join mainuser u 
		on f.user_idx = u.user_idx
		where f.target_user_idx = #{userIdx} and u.is_deleted = 0;
	</select>
	<!-- 팔로잉 목록 조회 -->
	<select id="selectMyFollowings" parameterType="int" resultMap="com.ssafy.resultmaps.follow">
		select f.follow_idx, f.target_user_idx, f.user_idx, u.nickname, u.file_idx
		from userfollow f 
		join mainuser u 
		on f.target_user_idx = u.user_idx
		where f.user_idx = #{userIdx} and u.is_deleted = 0;
	</select>
	<!-- 월별 캘린더 목록 조회 -->
	<select id="selectMyCalendars" parameterType="int" resultMap="com.ssafy.resultmaps.calendar">
		select c.calendar_idx, c.calendar_date, e.file_idx, c.user_idx 
		from feedcalendar c 
		join feedemotecomplete e 
		on c.emote_complete_idx = e.emote_complete_idx
		where user_idx = #{userIdx} and month(calendar_date) = #{month};	
	</select>
	<!-- 팔로우 검색 -->
	<select id="selectFollow" parameterType="int" resultType="String">
		select follow_idx from userfollow where target_user_idx = #{targetUserIdx} and user_idx = #{userIdx};
	</select>
	<!-- 팔로우 등록 -->
	<insert id="insertMyFollow" parameterType="int">
		insert into userfollow(target_user_idx, user_idx) values(#{targetUserIdx}, #{userIdx});	
	</insert>
	<!-- 팔로우 취소 -->
	<delete id="deleteMyFollow" parameterType="int">
		delete from userfollow where target_user_idx = #{targetUserIdx} and user_idx = #{userIdx};	
	</delete>
</mapper>
