<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mindder.my.model.mapper.MyMapper">
	<!-- 내가 쓴 피드 목록 조회 -->
	<!-- @fixme: 이미지 url 추가 필요 -->
	<select id="selectMyFeeds" parameterType="int" resultMap="com.ssafy.resultmaps.feedList">
		select f.feed_idx, c.comment_count, l.like_total_count 
		from mainfeed f 
		left join 
		(select feed_idx, count(*) as comment_count 
		from feedcomment 
		where is_deleted = 0 
		group by feed_idx) as c 
		on f.feed_idx = c.feed_idx 
		left join 
		(select feed_idx, sum(like_count) as like_total_count 
		from feedlike 
		where is_deleted = 0 
		group by feed_idx) as l 
		on f.feed_idx = l.feed_idx 
		where user_idx = #{userIdx} and is_deleted = 0;
	</select>
	<!-- 스크랩 목록 조회 -->
	<!-- @fixme: 이미지 url 추가 필요 -->
	<select id="selectMyScraps" parameterType="int" resultMap="com.ssafy.resultmaps.feed">
		select s.feed_idx, c.comment_count, u.nickname, f.update_date, l.like_total_count 
		from feedscrap s 
		left join 
		(select feed_idx, count(*) as comment_count 
		from feedcomment 
		where is_deleted = 0 
		group by feed_idx) 
		as c
		on s.feed_idx = c.feed_idx 
		left join mainfeed f 
		on s.feed_idx = f.feed_idx 
		left join mainuser u 
		on f.user_idx = u.user_idx 
		left join 
		(select feed_idx, sum(like_count) as like_total_count 
		from feedlike 
		where is_deleted = 0 
		group by feed_idx) 
		as l
		on s.feed_idx = l.feed_idx
		where s.user_idx = #{userIdx} and s.is_deleted = 0;
	</select>
	<!-- 팔로워 목록 조회 -->
	<!-- @fixme: 사용자 프로필 이미지 url 추가 필요 -->
	<select id="selectMyFollowers" parameterType="int" resultMap="com.ssafy.resultmaps.follow">
		select f.follower_idx, f.target_user_idx, f.user_idx, u.nickname
		from userfollower f 
		join mainuser u 
		on f.user_idx = u.user_idx
		where f.target_user_idx = #{userIdx} and f.is_deleted = 0;
	</select>
	<!-- 팔로잉 목록 조회 -->
	<!-- @fixme: 사용자 프로필 이미지 url 추가 필요 -->
	<select id="selectMyFollowings" parameterType="int" resultMap="com.ssafy.resultmaps.follow">
		select f.follower_idx, f.target_user_idx, f.user_idx, u.nickname
		from userfollower f 
		join mainuser u 
		on f.target_user_idx = u.user_idx
		where f.user_idx = #{userIdx} and f.is_deleted = 0;
	</select>
	<!-- 월별 캘린더 목록 조회 -->
	<!-- @fixme: 감정 이모지 url 추가 필요 -->
	<select id="selectMyCalendars" parameterType="int" resultMap="com.ssafy.resultmaps.calendar">
		select * from feedcalendar 
		where user_idx = #{userIdx} and month(calendar_date) = #{month};	
	</select>
	<!-- 팔로우 등록 -->
	<insert id="insertMyFollow" parameterType="int">
		insert into userfollower(target_user_idx, user_idx) values(#{targetUserIdx}, #{userIdx});	
	</insert>
</mapper>
