<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mindder.scraps.model.mapper.ScrapsMapper">
	<!-- 스크랩 검색 -->
	<select id="selectScrap" parameterType="int" resultType="String">
		select scrap_idx
		from feedscrap 
		where user_idx = #{userIdx} and feed_idx = #{feedIdx};
	</select>
	<!-- 스크랩 등록 -->
	<insert id="insertScrap" parameterType="int">
		insert into feedscrap(feed_idx, user_idx) values(#{feedIdx}, #{userIdx});	
	</insert>
	<!-- 스크랩 취소 -->
	<delete id="deleteScrap" parameterType="int">
		delete from feedscrap where user_idx = #{userIdx} and feed_idx = #{feedIdx};	
	</delete>
	<!-- 스크랩 목록 조회 -->
	<select id="selectMyScraps" parameterType="int" resultMap="com.ssafy.resultmaps.feedList">
		select s.feed_idx, f.user_idx, u.nickname, f.update_date, f.file_idx,
			   ifnull((select count(*) from feedcomment where s.feed_idx = feed_idx and is_deleted = 0), 0) as comment_count,
			   ifnull((select count(*) from feedlike where s.feed_idx = feed_idx), 0) as like_total_count
		from feedscrap s 
		join mainfeed f on s.feed_idx = f.feed_idx
		join mainuser u on f.user_idx = u.user_idx
		where s.user_idx = #{userIdx} and f.is_public = 1 and f.is_deleted = 0;
	</select>
</mapper>
