<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mindder.searches.model.mapper.SearchesMapper">
	<select id="searchUser" parameterType="String" resultMap="com.ssafy.resultmaps.user">
		select * from mainuser
		where nickname like CONCAT('%',#{word},'%')
		limit 5
	</select>
	
</mapper>
