<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mindder.searches.model.mapper.SearchesMapper">
	<select id="searchUser" parameterType="String" resultMap="com.ssafy.resultmaps.user">
		select user_idx ,file_idx, nickname
		from mainuser
		where find_tag like CONCAT(#{word},'%')
		limit 5
	</select>
	<select id="searchHash" parameterType="String" resultType="String">
		select hash
		from normalhash
		where find_tag like CONCAT(#{word},'%')
		group by hash
		limit 5
	</select>
	<select id="selectKeyword" parameterType="int" resultType="String">
		select emote_tag_kr 
		from (
			select e.emote_tag_kr
			from mainfeed f
			inner join feedemote e
			on f.emote_idx = e.emote_idx
			where f.user_idx = #{userIdx} group by e.emote_tag_kr
		) as t
		order by rand() limit 1;
	</select>
</mapper>
