body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 현재 웹스크린의 높이 100%를 최소 높이로 설정 */
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 360px;
  } 
}

@media (max-width: 650px) {
  .App {
    width: 100vw;
  }
}

#root {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
}