#main > header{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(67, 67, 67);
    border-bottom: solid 4px #7767FD;
    background-color: #ffffff;
}

.col-12{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 1rem 0 1rem 0;
}

.box{
    max-width: 100%;
    padding-top: 1rem;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 6px;
    vertical-align: baseline;
    -webkit-text-size-adjust: none;
}

.form-label{
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
}

.form-label-center{
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: 2rem;
    font-weight: 600;
}

.warning{
    font-size: small;
    text-align: right;
}

.right-container{
    display: flex;
    flex-direction: row-reverse;
}

input {
    margin: 0rem 0 0.7rem 0;
    padding: 0 1em;
    border: 0;
    box-sizing: border-box;
    height: 2.1rem;
    appearance: none;
    background-color: #f8f8f8;
    border-radius: 6px;
    border: solid 1px #e5e5e5;
    color: inherit;
    display: block;
    outline: 0;
    text-decoration: none;
    font-size: 0.8rem;
}

.email-Text{
    font-size: 0.9rem;
    padding: 0 0.5em;
    margin-bottom: 0.7rem;
}

.center-container {
    margin: 0 0 0.7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-screen {
    background-color: #7767FD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100vw;
    height: 90vh; */
}

.maincolor-white-btn{
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #7767FD;
    border-radius: 6px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 0.9rem;
    height: 2.8rem;
    line-height: 3em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.white-black-btn{
    width: 1rem;
    height: 2.8rem;
    color: black;
    font-size: 0.9rem;
    font-style: normal;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
}

.pad{
    height: 0.5em;
}

.naver{
    display: flex;
    justify-content: center;
    width: 11.5rem;
    background-color: #03c75a;
    border-radius: 6px;
}

.login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 11.5rem;
    height: 2.5rem;
    color: rgb(51, 51, 51);
    font-size:0.95rem;
    background-color: #ffffffd4;
    border: none;
    border-radius: 6px;
}

.white-black-line-btn{
    margin-bottom: 0;
    width: 6.5rem;
    height: 2.5em;
    color: black;
    font-size: 0.8rem;
    background-color: #ffffff;
    border-radius: 8px;
    border-color: rgb(146, 145, 145);
    border-width: 0.02em;
    /* margin: 0.5em; */
}

.text-white{
    font-size: 0.9rem;
    color: white;
    margin:3px;
}

.text-black{
    color: black;
    margin:3px;
}

.logo{
    width : 12rem; 
    margin-top: 1.6rem;
    margin-bottom: 2rem;
}

.logoText{
    width : 19rem;
}

.snslogos{
    width : 50px;
    margin: 0 1em;
}

.logo-container{
    display: flex;
    align-items: flex;
    justify-content: space-around;
    margin-bottom: 0.7rem;
    /* border: 1px solid; */
}


.line-box{
    text-align: center;
    font-weight: bold;
    border-bottom: solid 4px #7767FD;
    border-top: solid 4px #7767FD;
    padding: 2.5em 1em;
    margin: 8vh 0 8vh 0;
}

#remove{
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    text-align: start;
    margin: 0 0 12vh 0;
}

#remove2{
    font-size: 1.1em;
    color: rgb(67, 67, 67);
    margin: 0 0 3vh 0;
}

.removeText{
    margin: 0 0 0 0;
}

.email-logo{
    width : 120px;
    margin: 1em 1em;
}

.line-bottom{
    text-align: center;
    font-weight: bold;
    border-bottom: solid 2px #7767FD;
}

.img_btn{
    background-color: rgb(255, 255, 255);
    border: none;
}

#back_btn{
    width: 2.5rem;
}

#nickname{
    margin-bottom: 0;
}

.modify-profile-img{
    height: 8rem;
    width: 8rem;
}